/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

.env
application.properties
application.yml
application-*.properties
application-*.yml

* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf